.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45); /* Adjust the opacity as needed */
    z-index: 0; /* Ensure it's behind the button */
  }