/* InstancePage.css */

.data-box {
  border: 1px solid #ccc;
  border-radius: 10px; /* Rounded border */
  padding: 20px;
  width: 400px;
  float: right;
}

.smaller-image {
  width: 400px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
}

.description-box {
  width: 800px; /* Adjust width as needed */
  float: left; /* Float it to the left */
  text-align: left;
}